<nav class="wm-navbar">
  <div class="wm-container">
    <div class="brand">
      <div class="logo" aria-hidden="true">
        <svg
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          class="bolt"
        >
          <path
            d="M13 2L3 14h7l-1 8 10-12h-7l1-8z"
            stroke-width="1.2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <a href="/"><span class="brand-name">PowerEase Admin</span></a>
    </div>

    <ul class="nav-links">
      <li><a routerLink="/admin/home" style="color:#0EA5A4;">Dashboard</a></li>
      <li><a routerLink="/admin/add-customer">Add Customers</a></li>
      <li><a routerLink="/admin/complaints"  style="color:red">View Complaints</a></li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <h2 class="text-center mb-4">Add New Bill</h2>

  <form (ngSubmit)="addBill()" #billForm="ngForm" class="card p-4 shadow-sm">
    <!-- Customer ID -->
    <div class="form-group mb-3">
      <label for="customerId">Customer ID:</label>
      <input
        type="text"
        id="consumerNumber"
        name="consumerNumber"
        class="form-control"
        [(ngModel)]="bill.consumerNumber"
        placeholder="Enter Customer ID"
        required
      />
    </div>

    <!-- Month -->
    <div class="form-group mb-3">
      <label for="month">Billing Month:</label>
      <input
        type="month"
        id="billingMonth"
        name="billingMonth"
        class="form-control"
        [(ngModel)]="bill.billingMonth"
        required
      />
    </div>
    <!-- Due Date -->
    <div class="form-group mb-3">
      <label for="dueDate">Due Date:</label>
      <input
        type="date"
        id="dueDate"
        name="dueDate"
        class="form-control"
        [(ngModel)]="bill.dueDate"
        required
      />
    </div>

    <!-- Units -->
    <div class="form-group mb-3">
      <label for="units">Units Consumed:</label>
      <input
        type="number"
        id="unitsConsumed"
        name="unitsConsumed"
        class="form-control"
        [(ngModel)]="bill.unitsConsumed"
        placeholder="Enter number of units"
        required
      />
    </div>

    <!-- Amount -->
    <div class="form-group mb-3">
      <label for="amount">Price Per Unit:</label>
      <input
        type="number"
        id="pricePerUnit"
        name="pricePerUnit"
        class="form-control"
        [(ngModel)]="bill.pricePerUnit"
        placeholder="Enter total price/unit"
        required
      />
    </div>

    <button class="btn btn-primary w-100" [disabled]="!billForm.form.valid">
      Add Bill
    </button>
  </form>

  <div *ngIf="successMessage" class="alert alert-success mt-4">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-4">
    {{ errorMessage }}
  </div>
</div>
