.password-wrapper {
  position: relative;
}

.password-input {
  padding-right: 40px !important;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  user-select: none;
}
