<nav class="wm-navbar">
  <div class="wm-container">
    <div class="brand">
      <div class="logo" aria-hidden="true">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" class="bolt">
          <path d="M13 2L3 14h7l-1 8 10-12h-7l1-8z" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <a href="/"><span class="brand-name">PowerEase Admin</span></a>
    </div>

    <ul class="nav-links">
      <li><a routerLink="/admin/home" style="color:#0EA5A4;">Dashboard</a></li>
      <li><a routerLink="/admin/add-bill">Add Bill</a></li>
      <li><a routerLink="/admin/complaints" style="color:red">View Complaints</a></li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <h2 class="text-center mb-4">Add New Customer</h2>

  <div class="d-flex justify-content-center">

    <form (ngSubmit)="addCustomer()" #customerForm="ngForm" class="card p-4 shadow-sm"
      style="width:80%; min-width:550px;">

      <!-- Row 1: Consumer No + Name -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Consumer Number</label>
          <input id="consumerNumber" type="text" class="form-control custom-input" name="consumerNumber" maxlength="13"
            minlength="13" pattern="^[1-9][0-9]{12}$" [(ngModel)]="user.consumerNumber"
            placeholder="Enter 13-digit Consumer Number" required #consumerRef="ngModel" />
          <small style="color:red" *ngIf="consumerRef.invalid && consumerRef.touched">
            Consumer Number cannot start with 0</small>

        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Full Name</label>
          <input id="fullName" type="text" class="form-control custom-input" name="fullName" pattern="^[A-Za-z ]+$"
            [(ngModel)]="user.fullName" placeholder="Enter full name" required #nameRef="ngModel" />
        <small style="color:red" *ngIf="nameRef.invalid && nameRef.touched">
            Name cannot start with numbers</small>
          </div>
        
      </div>

      <!-- Row 2: Phone + Email -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Phone Number</label>
          <input id="mobile" type="text" class="form-control custom-input" name="mobile" maxlength="10" minlength="10"
            pattern="^(?!([0-9])\1{9})[6-9][0-9]{9}$" [(ngModel)]="user.mobile" placeholder="Enter phone number"
            required #mobileRef="ngModel" />
          <small style="color:red" *ngIf="mobileRef.invalid && mobileRef.touched">Phone Number should start with
            (6-9)</small>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Email</label>
          <input id="email" type="email" class="form-control custom-input" name="email" [(ngModel)]="user.email"
            placeholder="Enter email" required #emailRef="ngModel" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$">

            <small style="color:red" *ngIf="emailRef.invalid && emailRef.touched">
            Enter a valid email</small>
        </div>
      </div>

      <!-- Row 3: Type + Ward -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Connection Type</label>
          <select class="form-control custom_input" [(ngModel)]="user.customerType" name="customerType" required>
            <option value="">Choose your Connection Type</option>
            <option value="Residential">Residential</option>
            <option value="Commercial">Commercial</option>
          </select>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Region Ward</label>
          <select class="form-control custom_input" [(ngModel)]="user.electricalSection" name="ElectricalSection"
            required>
            <option value="">Choose your Ward</option>
            <option value="Ward A">Ward A</option>
            <option value="Ward B">Ward B</option>
            <option value="Ward C">Ward C</option>
          </select>
        </div>
      </div>

      <!-- Row 4: Pincode + State -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Pincode</label>
          <input id="pincode" type="text" class="form-control custom-input" name="pincode" maxlength="6" minlength="6"
            pattern="^[1-9][0-9]{5}$" [(ngModel)]="user.pincode" (blur)="fetchLocationByPincode()"
            placeholder="Enter pincode" required #pincodeRef="ngModel" />
            <small style="color:red" *ngIf="pincodeRef.invalid && pincodeRef.touched">
            Enter a valid pincode</small>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">State / UT</label>
          <select id="state" class="form-control custom_input" [(ngModel)]="user.state" name="state" readonly>
            <option value="">{{ user.state || 'State / UT will auto-fill' }}</option>
            <option *ngFor="let s of states" [value]="s.name">{{ s.name }}</option>
          </select>
        </div>
      </div>

      <!-- Row 5: City + Password -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">City</label>
          <select id="city" class="form-control custom_input" [(ngModel)]="user.city" name="city" readonly>
            <option value="">{{ user.city || 'City will auto-fill' }}</option>
            <option *ngFor="let c of cities" [value]="c">{{ c }}</option>
          </select>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Create Password</label>
          <input id="password" type="password" class="form-control custom-input" name="password" minlength="6"
            [(ngModel)]="user.password" placeholder="Default password" required />
        </div>
      </div>

      <!-- Row 6: Address -->
      <div class="row">
        <div class="col-12 mb-3">
          <label class="form-label">Address</label>
          <textarea class="form-control custom-input" [(ngModel)]="user.address" name="address" required
            placeholder="Enter address" #addressRef="ngModel" pattern="^[a-zA-Z0-9\s,./#'-]+$"></textarea>
            <small class="text-danger" *ngIf="addressRef.invalid && addressRef.touched">
          Cannot start with numbers ( or repetitive ).
        </small>
        </div>
      </div>

      <div class="d-flex justify-content-center">

        <button type="submit" class="btn btn-success gradient-btn px-4" [disabled]="customerForm.invalid">
          Add Customer
        </button>
      </div>

    </form>
  </div>

  <!-- Alerts -->
  <div class="d-flex justify-content-center mt-3">
    <div *ngIf="errorMessage" class="btn btn-danger text-center">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="btn btn-success text-center">
      {{ successMessage }}
    </div>
  </div>

</div>