<nav class="wm-navbar">
  <div class="wm-container">
    <div class="brand">
      <div class="logo" aria-hidden="true">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" class="bolt">
          <path d="M13 2L3 14h7l-1 8 10-12h-7l1-8z" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <a href="/"><span class="brand-name">PowerEase Admin</span></a>
    </div>

    <ul class="nav-links">
      <li><a routerLink="/admin/home" style="color:#0EA5A4;">Dashboard</a></li>
      <li><a routerLink="/admin/add-bill">Add Bill</a></li>
      <li><a routerLink="/admin/update-customer">Update Customer</a></li>
      <li><a routerLink="/admin/manage-connection">Manage Connection</a></li>
      <li><a routerLink="/admin/complaints" style="color:red">View Complaints</a></li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <h2 class="text-center mb-4">Add New Customer</h2>

  <div class="d-flex justify-content-center">

    <form (ngSubmit)="addCustomer()" #customerForm="ngForm" class="card p-4 shadow-sm"
      style="width:80%; min-width:550px;">

      <!-- Row 1: Consumer No + Name -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Consumer Number</label>
          <div class="d-flex">
            <input id="consumerNumber" type="text" class="form-control custom-input" name="consumerNumber"
              maxlength="13" minlength="13" pattern="^[1-9][0-9]{12}$" [(ngModel)]="user.consumerNumber"
              placeholder="Enter 13-digit Consumer Number" required #consumerRef="ngModel" />
            <button type="button" (click)="generateConsumerNo()"
              class="btn btn-success bg-gradient px-4 ms-2">Fetch</button>
          </div>

          <small class="text-danger" *ngIf="consumerRef.value &&  consumerRef.touched && consumerRef.invalid">
            <span *ngIf="consumerRef.errors?.['required']">Consumer number is required.</span>
            <span *ngIf="consumerRef.errors?.['pattern']">Must be 13 digits and cannot start with 0.</span>
            <span *ngIf="consumerRef.errors?.['minlength'] || consumerRef.errors?.['maxlength']">Consumer number must be
              13 digits.</span>
          </small>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Full Name</label>
          <input id="fullName" type="text" class="form-control custom-input" name="fullName"
            pattern="^[A-Za-z][A-Za-z ]*$" [(ngModel)]="user.fullName" placeholder="Enter full name" required
            #nameRef="ngModel" />
          <small class="text-danger" *ngIf="nameRef.value &&  nameRef.touched && nameRef.invalid">
            <span *ngIf="nameRef.errors?.['required']">Full name is required.</span>
            <span *ngIf="nameRef.errors?.['pattern']">Name must start with a letter and contain only letters and
              spaces.</span>
          </small>
        </div>
      </div>

      <!-- Row 2: Phone + Email -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Phone Number</label>
          <input id="mobile" type="text" class="form-control custom-input" name="mobile" maxlength="10" minlength="10"
            pattern="^(?!([0-9])\1{9})[6-9][0-9]{9}$" [(ngModel)]="user.mobile" placeholder="Enter phone number"
            required #mobileRef="ngModel" />
          <small class="text-danger" *ngIf="mobileRef.value &&  mobileRef.touched && mobileRef.invalid">
            <span *ngIf="mobileRef.errors?.['required']">Phone number is required.</span>
            <span *ngIf="mobileRef.errors?.['pattern']">Enter a valid 10-digit Indian mobile number.</span>
            <div *ngIf="mobileRef.errors?.['pattern']">Cannot start with 0-5.</div>
            <div *ngIf="mobileRef.errors?.['pattern']">Cannot be a repeated sequence.</div>
            <div *ngIf="mobileRef.errors?.['minlength'] || mobileRef.errors?.['maxlength']">Phone number must be 10
              digits.</div>
          </small>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Email</label>
          <input id="email" type="email" class="form-control custom-input" name="email" [(ngModel)]="user.email"
            placeholder="Enter email" required #emailRef="ngModel"
            pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.(com|mail)$" />

          <small class="text-danger" *ngIf="emailRef.value &&  emailRef.touched && emailRef.invalid">
            <span *ngIf="emailRef.errors?.['required']">Email is required.</span>
            <span *ngIf="emailRef.errors?.['pattern']">Email must contain '&#64;' and end with .com or .mail</span>
            <span *ngIf="emailRef.errors?.['email']">Enter a valid email address.</span>
          </small>

        </div>
      </div>

      <!-- Row 3: Type + Ward -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Connection Type</label>
          <select class="form-control custom_input" [(ngModel)]="user.customerType" name="customerType" required
            #typeRef="ngModel">
            <option value="" disabled>Choose your Connection Type <span class="dropdown-icon">&#x25BE;</span></option>
            <option value="Residential">Residential</option>
            <option value="Commercial">Commercial</option>
          </select>
          <small class="text-danger" *ngIf="typeRef.value &&  typeRef.touched && typeRef.invalid">
            <span *ngIf="typeRef.errors?.['required']">Connection Type is required.</span>
          </small>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Region Ward </label>
          <select class="form-control custom_input" [(ngModel)]="user.electricalSection" name="electricalSection"
            required #wardRef="ngModel">

            <option value="" disabled>Choose your Ward <span class="dropdown-icon">&#x25BE;</span></option>
            <option value="Ward A">Ward A</option>
            <option value="Ward B">Ward B</option>
            <option value="Ward C">Ward C</option>
          </select>
          <small class="text-danger" *ngIf="wardRef.value &&  wardRef.touched && wardRef.invalid">
            <span *ngIf="wardRef.errors?.['required']">Region Ward is required.</span>
          </small>
        </div>
      </div>

      <!-- Row 4: Pincode + State (now input) -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Pincode</label>
          <input id="pincode" type="text" class="form-control custom-input" name="pincode" maxlength="6" minlength="6"
            pattern="^[1-9][0-9]{5}$" [(ngModel)]="user.pincode" (blur)="fetchLocationByPincode()"
            placeholder="Enter pincode" required #pincodeRef="ngModel" />
          <small class="text-danger" *ngIf="pincodeRef.value && pincodeRef.touched && pincodeRef.invalid">
            <span *ngIf="pincodeRef.errors?.['required']">Pincode is required.</span>
            <span *ngIf="pincodeRef.errors?.['pattern']">Pincode must be 6 digits and cannot start with 0.</span>
          </small>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">State / UT</label>
         <input
  id="state"
  type="text"
  class="form-control custom-input"
  name="state"
  [(ngModel)]="user.state"
  placeholder="State / UT will auto-fill"
  required
  #stateRef="ngModel"
  [disabled]="isStateLocked"
  pattern="^[A-Za-z][A-Za-z ]*$"
/>

<small class="text-danger" *ngIf="stateRef.touched && stateRef.invalid">
  <span *ngIf="stateRef.errors?.['required']">State is required.</span>
  <span *ngIf="stateRef.errors?.['pattern']">Only alphabets allowed and cannot start with a space.</span>
</small>
        </div>
      </div>

      <!-- Row 5: City + Password (city now input) -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">City</label>
          <input
  id="city"
  type="text"
  class="form-control custom-input"
  name="city"
  [(ngModel)]="user.city"
  [disabled]="isCityLocked"
  placeholder="City will auto-fill"
  required
  #cityRef="ngModel"
  pattern="^[A-Za-z][A-Za-z ]*$"
/>

<small class="text-danger" *ngIf="cityRef.touched && cityRef.invalid">
  <span *ngIf="cityRef.errors?.['required']">City is required.</span>
  <span *ngIf="cityRef.errors?.['pattern']">
    Only alphabets allowed and cannot start with a space.
  </span>
</small>

        </div>
<div class="col-md-6 mb-3">
  <label class="form-label">User Password</label>
  <div class="password-wrapper" style="position:relative;">
    <p style="font-size: 12px;color: #0ea55f;">
      First four letters of name followed by first four digits of phone number
    </p>

    <input 
      id="text"
      class="form-control custom-input password-input"
      name="password"
      minlength="8"
      maxlength="8"
      [ngModel]="user.password"
      (ngModelChange)="user.password = $event"
      placeholder="Click to auto generate"
      required
      #passwordRef="ngModel"
      (focus)="autoGeneratePassword()"
    />

    <small class="text-danger" *ngIf="passwordRef.touched && passwordRef.invalid">
      <span *ngIf="passwordRef.errors?.['required']">Password is required.</span>
      <span *ngIf="passwordRef.errors?.['minlength']">Eight characters are required.</span>
    </small>
  </div>
</div>
    
        </div>
     

      <!-- Row 6: Address -->
      <div class="row">
        <div class="col-12 mb-3">
          <label class="form-label">Address</label>
          <textarea class="form-control custom-input" [(ngModel)]="user.address" name="address" required
            placeholder="Enter address" pattern="^(?!0)(?!.*(.)\1{4,})[A-Za-z0-9\s,./#'\-]+$" #addressRef="ngModel"
            minlength="10"></textarea>
          <small class="text-danger" *ngIf="addressRef.value &&  addressRef.touched && addressRef.invalid">
            <span *ngIf="addressRef.errors?.['required']">Address is required.</span><br />
            <span *ngIf="addressRef.errors?.['minlength']">Minimum length should be 10 characters</span><br />
            <span *ngIf="addressRef.errors?.['pattern']">
              Address cannot start with 0 and cannot contain long repeated characters (e.g. 666666...).
              Allowed characters: letters, numbers, spaces, and / , . # - '
            </span>
          </small>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success gradient-btn px-4" [disabled]="customerForm.invalid">
          Add Customer
        </button>
        &nbsp;
        <button type="reset" class="btn btn-warning gradient-btn px-4">
          Reset
        </button>
      </div>
    </form>

    <div *ngIf="successMessage" class="alert alert-success text-center top-alert mt-4">
      {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger text-center top-alert mt-4">
      {{ errorMessage }}
    </div>































  </div>

  <!-- Alerts -->
  <div *ngIf="errorMessage" class="alert alert-danger mt-4">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="alert alert-success mt-4">
    {{ successMessage }}
  </div>

</div>